@charset "UTF-8";

@keyframes onAutoFillStart { from {} to {}}

* {
	margin: 0;
	padding: 0;
	border: none;
	list-style: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	font: 15px/1.25 "Alef";
	color: #111;
	background-repeat: no-repeat;
	background-size: cover;
}

.tabs{
	margin: auto;
	background: #72abe1;
	width: 100%;
	height: 400px;
	padding-bottom: 40px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
/*タブのスタイル*/

.tab_item {
  width: calc(100%/2);
  height: 50px;
  border-bottom: 3px solid #72abe1;
  background-color: #d9d9d9;
  line-height: 50px;
  font-size: 16px;
  text-align: center;
  color: #565656;
  display: block;
  float: left;
  text-align: center;
  font-weight: bold;
  transition: all 0.2s ease;
}


form {
	/*
	margin: auto;
	background: #72abe1;
	width: 100%;
	height: 360px;
	padding: 20px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	position: absolute;
	top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    */
}

form > h1 {
	text-align: center;
	color: #f4f4f4;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
	font-weight: 400;
}

.link{
	text-align: center;
}

.formtitle{
	font-size:12px;
	padding-top:10px;
	color: #f4f4f4;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
	font-weight: 400;
}

input {
	background: rgba(0, 0, 0, 0.2);
	color: #fff;
	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);
	display: block;
	width: 100%;
	font-size:20px;
	padding: 15px;
	margin-bottom: 10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	outline:none;
}

input:focus {
	background: rgba(0, 0, 0, 0.1);
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
}

::-webkit-input-placeholder {
	color: rgba(225, 225, 225, 0.4);
}

:-moz-placeholder {
	color: rgba(225, 225, 225, 0.4);
}

:-ms-input-placeholder {
	color: rgba(225, 225, 225, 0.4);
}

button {
	position: relative;
	display: block;
	margin:15px auto;
	padding: 17px;
	width: 100%;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	-ms-border-radius: 6px;
	-o-border-radius: 6px;
	border-radius: 6px;
	-webkit-transition: all 0.1s ease-in-out;
	-moz-transition: all 0.1s ease-in-out;
	transition: all 0.1s ease-in-out;
	font-size: 1.2em;
	background: #f26964;
	color: #f4f4f4;
	box-shadow: 0px 3px 0px #ab4b47;
	cursor: pointer;
}

button:active {
	top: 3px;
	box-shadow: none;
}

a {
	text-decoration: none;
	transition: border-color 0.3s;
	color: #fff;
}
